@model XZMY.Manage.Model.ViewModel.Members.VmStudent
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "列表";
}

@*推荐课程弹窗*@
@Html.HiddenFor(x => x.DataId)
@Html.HiddenFor(x => x.Name)
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">推荐课程给 @Model.Name 同学</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-left:0px;">
        <div class="portlet-body form">
            <div class="container">
            
                    <table id="table-pagination" data-toggle="table" data-url="/Course/AjaxList/?IsWhere=tru"
                           data-height="526"
                           data-form-id="defaultForm"
                           data-show-refresh="true"
                           data-page-size="10"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-search="true">
                        <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="CourseName">课程名称</th>
                                <th data-field="CoursePlaceName" data-align="lift">区域</th>
                                <th data-field="SuitablePerson" data-align="lift">适合人群</th>
                                <th data-field="BeginDate" data-align="center" data-formatter="yyyy_mm_dd">开始时间</th>
                                <th data-field="EndDate" data-align="center" data-formatter="yyyy_mm_dd">结束时间</th>
                                <th data-field="Sponsor" data-align="lift">主办方</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
    <button id="btnRecommend" type="button" class="btn blue">立刻推荐</button>
</div>
<script type="text/javascript">
    /*为参加过课程学生列表*/
    var opColumns = function (value, row, index) {
        return '<a href="/Student/details/_StudentId_">推荐</a>&nbsp;&nbsp;<a href="/Parent/details/_StudentParentsId_">家长</a>'.replace(/_StudentParentsId_/ig, row.StudentParentsId).replace(/_StudentId_/ig, row.StudentId);
    };
    var $table = $('#table'),$button = $('#btnRecommend');
    $(function () {
        $button.click(function () {
            $.each($table.bootstrapTable('getAllSelections'), function (i, item) {
                //item["Id"]
                alert('短信推荐给[' + $("#Name").val() + "]  ,课程名称：[" + item["CourseName"] + "],  活动时间:" + ChangeDateFormat(item["BeginDate"]) + "~" + ChangeDateFormat(item["EndDate"]));
                //$("<option></option>").val(item["Id"]).text(item["Name"]).appendTo($("#dllProjectType"));
            })
        });
    });

    function ChangeDateFormat(cellval) {
        var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear() + "-" + month + "-" + currentDate;
    }
</script>