@*@{
        ViewBag.Title = "列表";
    }
    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->

            <div class="portlet box">
                <div class="portlet-body ">
                    <div class="container">
                        <div class="span3">
                            <div class="control-group" style="line-height: 34px;">
                                <span style="float: left">流程状态：</span>
                                <div class="controls select2-wrapper">
                                    <select id="ProcessState" name="ProcessState" class="span6">
                                        <option value="0">全部</option>
                                        <option value="1">已报名</option>
                                        <option value="2">进行中</option>
                                        <option value="2">已结束</option>
                                        <option value="2">已取消</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <table data-toggle="table"
                               data-toolbar="#post"
                               data-url="/OrderProject/AjaxList/"
                               data-form-id="defaultForm"
                               data-show-refresh="true"
                               data-search="true"
                               data-page-size="10"
                               data-page-list="[5, 10, 20, 50, 100, 200]"
                               data-height="526"
                               @*data-columns="400"
                               data-method="post"
                               data-query-params="postQueryParams">
                            <thead>
                            <tr>
                                @*<th data-checkbox="false"></th>
                                <th data-field="OrderNo">订单号</th>
                                <th data-field="ProjectName">活动名称</th>
                                <th data-field="Mobile">手机号</th>
                                <th data-field="ProcessStateName">流程状态</th>
                                <th data-field="CreatedTime">下单时间</th>
                                <th data-formatter="opColumns" data-align="center">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

        </div>

    </div>
    <script type="text/javascript">
        var postQueryParams = function(params) {
            //params.pageSize = 5; // add param1
            //params.pageIndex = 1; // add param2
            params.ProcessState = $('#ProcessState').val();
            params.limit = 5;
            //console.log(JSON.stringify(params));
            // {"limit":10,"offset":0,"order":"asc","your_param1":1,"your_param2":2}
            return params; // body data
        };

        var opColumns = function(value, row, index) {
            return '<a href="details/_id_">查看</a>'.replace(/_id_/ig, row.Id);
        };

        $('#ProcessState').change(function() { $('.btn-default').click(); });
    </script>*@


@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "列表";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">订单管理</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">课程订单</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="mt-bootstrap-tables" style="margin-top:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                @*<div class="portlet-title">
                    <div class="caption">
                        <span style="font-size: 25px;color: #000"></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-default" href="/OrderCourse/Edit/">
                            <i class="fa fa-plus"></i> 创建
                        </a>
                    </div>
                </div>*@
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                        <div class="mt-checkbox-inline" style="margin-top: -37px">
                            <div class="pull-left" style="margin-top:20px">
                                流程状态：
                                <select id="ProcessState" name="ProcessState" class="form-control input-inline">
                                    <option value="0">全部</option>
                                    <option value="1">已报名</option>
                                    <option value="2">进行中</option>
                                    <option value="3">已结束</option>
                                    <option value="4">已取消</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <table id="table-pagination" data-toggle="table" data-url="/OrderCourse/AjaxList/"
                           data-height="526"
                           data-form-id="defaultForm"
                           data-show-refresh="true"
                           data-page-size="10"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-search="true">
                        <thead>
                            <tr>
                                <th data-field="OrderNo">订单号</th>
                                <th data-field="CourseName">活动名称</th>
                                <th data-field="Mobile">手机号</th>
                                <th data-field="ProcessStateName" data-align="center">流程状态</th>
                                <th data-field="CreatedTime" data-align="center">下单时间</th>
                                
                                <th data-formatter="opColumns" data-align="center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        var opColumns = function (value, row, index) {
            return '<a href="details/_id_">查看</a>'.replace(/_id_/ig, row.Id);
        };
    </script>
}