@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "规划访客记录列表";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">规划师管理</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">规划访客记录列表</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="mt-bootstrap-tables" style="margin-top:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green hide"></i>
                        @*<span class="caption-subject font-dark bold uppercase">Table Pagination</span>*@
                    </div>
                    <div class="actions">
                        @*<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"><i class="icon-cloud-upload"></i></a>*@
                        @*<a class="btn btn-default" href="/Planner/Edit/">
                            <i class="fa fa-plus"></i> 创建
                        </a>*@
                        @*<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"><i class="icon-wrench"></i></a>
                            <a class="btn btn-circle btn-icon-only btn-default delete" href="javascript:;"><i class="icon-trash"></i></a>*@
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                        <div class="mt-checkbox-inline" style="margin-top: -37px">
                            <div class="pull-left" style="margin-top: 20px">
                               
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <table id="table-pagination" data-toggle="table" data-url="/PlanVisitor/AjaxList/"
                           data-height="526"
                           data-form-id="defaultForm"
                           data-show-refresh="true"
                           data-page-size="10"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-search="true">
                        <thead>
                            <tr>
                                <th data-field="Name" data-align="lift">名字</th>
                                <th data-field="Mobile" data-align="lift">电话</th>
                                <th data-field="Email" data-align="lift">Email</th>
                                <th data-field="Country" data-align="lift">意向国家</th>
                                <th data-field="AbroadDateName" data-align="lift">出国时间</th>
                                <th data-field="Grade" data-align="center">当前年级</th>
                                <th data-field="CreatedTimeName" data-align="center">记录时间</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        var opColumns = function (value, row, index) {
            return '<a href="edit?id=_id_">编辑</a> | <a href="details/_id_">查看</a> | <a href="/Vip/StudentVipApplyList/?PlannerId=_id_">申请学生</a>'.replace(/_id_/ig, row.Id);
        };
    </script>
}