@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "主页";
}
<div id="dashboard">

    <div class="clearfix"></div>
    <div class="row-fluid">
        <div class="form-group col-md-4" style="padding-left: 0;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="关键字" />
                <span class="input-group-btn">
                    <button class="btn blue" type="button">
                        查询<i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <a href="javascript:;" class="btn btn-lg green">
            增加消费<i class="fa fa-plus"></i>
        </a>

    </div>

    <div class="clearfix"></div>

    <table class="table table-bordered">
        <tr>
            <th class="text-right">卡号：</th>
            <td style="color: red;" id="lbl_hykh" class="col-md-2"></td>
            <th class="text-right">姓名：</th>
            <td style="color: red;" id="lbl_hyxm" class="col-md-2"></td>
            <th class="text-right">类型：</th>
            <td id="lbl_klxmc" class="col-md-2"></td>
            <th class="text-right">级别：</th>
            <td id="lbl_kmc" class="col-md-2"></td>
        </tr>
        <tr>
            <th class="text-right">余额：</th>
            <td id="lbl_kmc"></td>
            <th class="text-right">累计消费：</th>
            <td id="lbl_hyje"></td>
            <th class="text-right">消费次数：</th>
            <td id="lbl_Count"></td>
            <th class="text-right">电话：</th>
            <td id="lbl_yddh"></td>
        </tr>
        <tr>
            <th class="text-right">备注：</th>
            <td colspan="7"></td>
        </tr>
    </table>

    <div class="portlet box green">
        <div class="portlet-title">
           <div class="caption">
               <i class="fa fa-credit-card"></i>
               会员消费详细列表
           </div>
        </div>
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                <div class="mt-checkbox-inline" style="margin-top: -37px">
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="pull-left" style="margin-top: 20px">
                            分店：
                            <select class="form-control input-inline" name="BranchDataId" id="BranchDataId">
                                <option value="00000000-0000-0000-0000-000000000000">全部</option>
                                @if (ViewBag.BranchList != null)
                                {
                                    foreach (var item in ViewBag.BranchList)
                                    {
                                        <option value="@item.DataId">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    <div class="row pull-left" style="margin-top: 18px">
                        <div class="col-md-12 col-sm-12">
                            <div style="display: inline-flex;">
                                <label class="control-label">&nbsp;时间范围：</label>
                                <div class="input-group input-large date-picker input-daterange" style="width: 120%;" data-date="2016-07-19" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" name="CreatedTimeRange" value="" required>
                                    <span class="input-group-addon"> 到 </span>
                                    <input type="text" class="form-control" name="CreatedTimeRange" value="" required>
                                </div>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
            <table id="table-pagination" data-toggle="table" data-url="/Hyxx/AjaxPaymentList/"
                   data-height="523"
                   data-form-id="defaultForm"
                   data-show-refresh="true"
                   data-page-size="10"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-auto-height="true"
                   data-search="true">
                <thead>
                    <tr>
                        <th data-formatter="RowNumber" data-width="50">序号</th>
                        <th data-field="xfrq">日期</th>
                        <th data-field="xfje">消费金额</th>
                        <th data-field="Balance">余额</th>
                        @*<th data-formatter="showLevel" data-field="Level">积分</th>*@
                        <th data-field="bz">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .background-color {
        background-color: #ecfded !important;
    }
</style>
<script type="text/javascript">
    var checkNumber = function (num) {
        return num > 9 ? num : '0' + num;
    };

    //突出显示当天消费信息
    $('#table-pagination').bootstrapTable({
        rowStyle: function (row, index) {
            var d = new Date();
            var date = (d.getFullYear() + '-' + checkNumber(d.getMonth() + 1) + '-' + checkNumber(d.getDate()));

            var reg = /\/Date\(([-]?\d+)\)\//gi;
            var value = '';
            if (reg.test(row.xfrq)) {
                var msec = row.xfrq.toString().replace(reg, "$1");
                value = new Date(parseInt(msec)).Format('yyyy-MM-dd hh:mm:ss');
            }

            if (value.indexOf(date) != -1) {
                return { classes: 'background-color' };
            }
            return {};
        }
    });
</script>
