@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "列表";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">客户管理</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">消费信息</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="mt-bootstrap-tables" style="margin-top:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                @*<div class="portlet-title">
                        <div class="caption">
                            <span style="font-size: 25px;color: #000"></span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-default" href="/CourseTemplate/Edit">
                                <i class="fa fa-plus"></i> 创建
                            </a>
                        </div>
                    </div>*@
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                        <div class="mt-checkbox-inline" style="margin-top: -37px">
                            @if (ViewBag.IsAdmin)
                            {
                                <div class="pull-left" style="margin-top: 20px">
                                    分店：
                                    <select class="form-control input-inline" name="BranchDataId" id="BranchDataId">
                                        <option value="00000000-0000-0000-0000-000000000000">全部</option>
                                        @if (ViewBag.BranchList != null)
                                        {
                                            foreach (var item in ViewBag.BranchList)
                                            {
                                                <option value="@item.DataId">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }
                        </div>
                    </form>
                    <!-- END FORM-->
                    <table id="table-pagination" data-toggle="table" data-url="/Hyxx/AjaxPaymentList/@(ViewBag.Id)"
                           data-height="526"
                           data-form-id="defaultForm"
                           data-show-refresh="true"
                           data-page-size="20"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-auto-height="true"
                           data-search="true">
                        <thead>
                            <tr>
                                <th data-formatter="RowNumber" data-width="50">序号</th>
                                @if (ViewBag.IsAdmin)
                                {
                                    <th data-formatter="showBranchName">分店</th>
                                }
                                <th data-field="hykh">卡号</th>
                                <th data-field="hyxm">姓名</th>
                                <th data-field="xfje">金额</th>
                                <th data-field="Balance">余额</th>
                                <th data-field="bz">备注</th>
                                <th data-field="xfrq">消费时间</th>
                                @if (ViewBag.IsAdmin)
                                {
                                    <th data-field="CreatedTime">同步时间</th>
                                }
                                <th data-field="czy">操作人</th>
                                @*<th data-formatter="opColumns" data-align="center">操作</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .background-color {
        background-color: #ecfded !important;
    }
</style>
<script type="text/javascript">
    var opColumns = function (value, row, index) {
        return '<a href="details/_id_">详细</a> | <a onclick="deletelog(this)" href="xfxx/details/_id_" id="_id_">消费记录</a>'.replace(/_id_/ig, row.DataId);//
    };

    var checkNumber = function (num) {
        return num > 9 ? num : '0' + num;
    };

    //突出显示当天消费信息
    $('#table-pagination').bootstrapTable({
        rowStyle: function (row, index) {
            var d = new Date();
            var date = (d.getFullYear() + '-' + checkNumber(d.getMonth() + 1) + '-' + checkNumber(d.getDate()));

            var reg = /\/Date\(([-]?\d+)\)\//gi;
            var value = '';
            if (reg.test(row.xfrq)) {
                var msec = row.xfrq.toString().replace(reg, "$1");
                value = new Date(parseInt(msec)).Format('yyyy-MM-dd hh:mm:ss');
            }

            if (value.indexOf(date) != -1) {
                return { classes: 'background-color' };
            }
            return {};
        }
    });
</script>