@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "列表";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">数据字典</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="mt-bootstrap-tables" style="margin-top:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span style="font-size: 25px;color: #000"></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-default" href="/DataDictionary/DataDictionaryItemEdit/?CatagoryKey=@Request.QueryString["CatagoryKey"].ToString()">
                            <i class="fa fa-plus"></i> 创建
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                        <input id="CatagoryKey" name="CatagoryKey" type="hidden" value="@Request.QueryString["CatagoryKey"].ToString()" />
                        <div class="mt-checkbox-inline" style="margin-top: -37px">
                            <div class="pull-left" style="margin-top: 20px">
                                状态：<select class="form-control input-inline" name="State" id="State">
                                    <option value="1">正常</option>
                                    <option value="2">已删除</option>
                                </select>
                            </div>
                        </div>

                        <!-- END FORM-->
                        <table id="table-pagination" data-toggle="table" data-url="/DataDictionary/AjaxDataDictionaryItemList/"
                               data-height="526"
                               data-form-id="defaultForm"
                               data-show-refresh="true"
                               data-page-size="10"
                               data-page-list="[5, 10, 20, 50, 100, 200]"
                               data-search="true">
                            <thead>
                                <tr>
                                    <th data-field="Name" data-align="lift">中文名字</th>
                                    <th data-field="EName" data-align="lift">英文名字</th>
                                    <th data-field="Descr" data-align="lift">添加人</th>
                                    <th data-formatter="opColumns" data-align="center">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        var opColumns = function (value, row, index) {
            return '<a href="/DataDictionary/DataDictionaryItemEdit/?CatagoryKey=__CatagoryKey__&id=_id_">编辑</a> '.replace(/_id_/ig, row.DataId).replace(/__CatagoryKey__/ig, $("#CatagoryKey").val());
        };
    </script>
}